.cart-container {
  padding: 6rem 2rem;
}
.cart-item {
  display: flex;
  width: 300px;
  justify-content: flex-start;
  background-color: grey;
  margin: 0 0 1rem 0;
  color: white;
}
.cart-total {
  display: flex;
  justify-content: space-between;
}

.amount-btn {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
@media screen and (min-width: 768px) {
  .cart-container-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}
