:root {
  font-size: 62.5%;
  --primaryColor: #3200af;
  --secondaryColor: #eeeded;
  --darkGrey: #808080;
  --mainGrey: #fafafa;
  --mainWhite: #ffffff;
  --mainBlack: #444444;
  --mainRed: #fa0202;
  --mainOrange: #e99f01;
  --mainTransition: all 0.5s linear;
  --largeFont: 8rem;
  --mediumFont: 6rem;
  --smallFont: 3rem;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.3;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShodow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globals */
body {
  /* padding: 88.24px 0 0 0; */
  font-family: Arial, Helvetica, sans-serif;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  font-size: 1.6rem;
}
